.card {
  position: relative;

  & div.img {
    height: 195px;
    background-position: center;
    background-size: cover;
  }
  &:hover::after {
    background: rgba(0, 0, 0, 0.3);
    color: white;
    content: "Learn More";
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2em;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
